#Data Types and Structures Questions

Q1. What are data structures, and why are they important?
- Data structures are ways to organize and store data. They help keep information neat and make tasks like searching or sorting easier.


Q2. Explain the difference between mutable and immutable data types with examples?

- Mutable data can be changed (like lists). Immutable data cannot be changed (like tuples or strings).


Q3. What are the main differences between lists and tuples in Python?

- Lists can be changed; tuples cannot. Lists use [], while tuples use (). Tuples are used where we do not want to change the element in the data structure. eg: Employee ID in an organization.


Q4. Describe how dictionaries store data?
-  Dictionaries store data in key-value pairs like {"name": "Alice", "age": 25}. Think of them as labeled boxes!

Q5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates and are faster for checking whether an item exists.

Q6. What is a string in Python, and how is it different from a list?
- A string is text ("hello"), while a list is a collection of items (["h", "e", "l", "l", "o"]). Lists can be changed; strings cannot. Additionally list can have any character be it a string or numbers.


Q7. How do tuples ensure data integrity in Python?
- Since tuples cannot be changed (immutable), they prevent accidental modifications.


Q8. What is a hash table, and how does it relate to dictionaries in Python?
- Hash table quickly finds the data using unique keys similar to dictioary.

Q9. Can lists contain different data types in Python?
- Yes. A list can have numbers, text, and even other lists.

Q10. Explain why strings are immutable in Python?
- To avoid unexpected changes and make programs faster.


Q11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries helpa to find information quickly using keys rather than searching through a list.

Q12. Describe a scenario where using a tuple would be preferable over a list?
- The best scenario would be storing an organization's data. Wherein, the employee IDs, employees date of birth are the one's which we do not want to change.

Q13. How do sets handle duplicate values in Python?
- Sets remove duplicates automatically.

Q14. ow does the “in” keyword work differently for lists and dictionaries?
- In lists, it checks if an item is present (2 in [1, 2, 3]). In dictionaries, it checks for keys ("name" in {"name": "Alice", "age": 30}).

Q15. Can you modify the elements of a tuple? Explain why or why not?
- No, because tuples are immutable.

Q16. What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary. Example:
{"student": {"name": "Bob", "age": 20}}. It's useful for storing related data.


Q17. Describe the time complexity of accessing elements in a dictionary?
- Like a dictionary in real world, where we want to look up the meaning of a word. If it's a well-organized dictionary (sorted alphabetically), we can quickly jump to the section and find your word pretty fast.

- Similarly in python, a dictionary is a kind of smart list where we store information using a "key" (like a name or word), and we can get the "value" (the meaning or data) just by asking for the key.

- The time complexity of accessing an item in a dictionary is typically O(1) — that means it takes constant time, no matter how big the dictionary is.


Q18. In what situations are lists preferred over dictionaries?
- When order matters or when we need a simple collection of items.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- They store data based on keys, not positions.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval?
- Lists retrieve items by index (list[0]), dictionaries use keys (dict["name"]).

#Practical Questions

In [1]:
#Q1. Write a code to create a string with your name and print it?

name = "Shobhit"
print(name)

Shobhit

In [2]:
#Q2. Write a code to find the length of the string "Hello World"?
print(len("Hello World"))

11

In [3]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"?
a="Python Programming"
print(a[:3])

Pyt

In [6]:
#Q4. Write a code to convert the string "hello" to uppercase?
b="hello"
print(b.upper())

HELLO

In [9]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
print("I like apple".replace("apple", "orange"))

I like orange

In [10]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [13]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
append_numbers=[1,2,3,4]
append_numbers.append(10)
print(append_numbers)

[1, 2, 3, 4, 10]

In [14]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers1=[1,2,3,4,5]
numbers1.remove(3)
print(numbers1)

[1, 2, 4, 5]

In [15]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [16]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
reverse_list = [10, 20, 30, 40, 50][::-1]
print(reverse_list)

[50, 40, 30, 20, 10]

In [17]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
fruits = (100, 200, 300)
print(fruits)

(100, 200, 300)

In [18]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [19]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers_tuple = (10, 20, 5, 15)
print(min(numbers_tuple))

5

In [23]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [24]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits1 = ('apple', 'banana', 'cherry')
print("kiwi" in fruits1)

False

In [25]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [26]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set1={1,2,3,4,5}
my_set1.clear()
print(my_set1)

set()

In [27]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers_set1 = {1, 2, 3, 4}
numbers_set1.remove(4)
print(numbers_set1)

{1, 2, 3}

In [28]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [30]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

print(set1.intersection(set2))   #as the set are same as above question, hence didn't create a new variable.

{3}

In [31]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [35]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person1={"name": "John","age":25}
person1["country"] = "USA"
print(person1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
print(person["name"])   #it took from Q21.

Alice

In [37]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person2={"name": "Bob","age":22,"City": "New York"}
del person2["age"]
print(person2)

{'name': 'Bob', 'City': 'New York'}

In [38]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person3=  {'name': 'Alice', 'city': 'Paris'}
print("city" in person3)

True

In [39]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
print([1, 2, 3], (4, 5, 6), {"a": 1, "b": 2})

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [40]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list = sorted(random.sample(range(1, 100), 5))
print(random_list)

[22, 35, 52, 80, 97]

In [41]:
#Q28. Write a code to create a list with strings and print the element at the third index.
strings_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(strings_list[3])

date

In [42]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
#30. Write a code to convert a list of strings into a set.
string_list1 = ["apple", "banana", "apple"]
print(set(string_list1))

{'apple', 'banana'}